*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  font-family: sans-serif;
  
}
body{
  background-color: #dddddd;
}
header{
  display:flex;
  justify-content: center;
  margin-bottom: 30px;
}

button {
  padding: 10px;
  margin-top: 30px;
  border-radius: 30px;
  background-color: rgb(1, 1, 74);
  color: white;
  border: none;
}

button:hover{
  background-color: blue;
}
button:focus{
  background-color: rgb(132, 132, 251);
  border-radius: 0;
}
.tab {
  margin: 40px;
}
.contact-tab{
  text-align: center;
  background-color: white;
  border: 2px solid rgb(0, 0, 2);
  padding: 10px;
  max-width:300px;
  margin: auto;
  border-radius: 10px;
  margin-top: 40px;
 
}
input {
  width: 250px;
  padding: 10px;
  border-radius: 10px;

}
label{
  text-align: left;
}
.contact-tab div {
  padding: 10px;
  text-align: left;
  font-weight: bold;
}
span{
  color: red;
}
.contact-tab div:nth-child(8){
 display: flex;
 justify-content: center;
  text-align: center;
}
.home-tab{
  max-width: 700px;
  margin: auto;
  background-color: white;
  height: 700px;
}
.home-tab div{
  
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
 
    
}
img{
  width: 400px;
}
.menu-tab{
  padding-top: 10px;
  max-width: 700px;
  margin: auto;
  padding-left: 40px;
  background-color: white;
  height: 700px;
  padding-left: 40px;
  padding-right: 40px;
}
